@font-face {
  font-family: 'Outfit-Bold';
  src: url('https://d2saw6je89goi1.cloudfront.net/uploads/digital_asset/file/1155991/Outfit-Bold.ttf');
}

@font-face {
  font-family: 'Outfit-Regular';
  src: url('https://d2saw6je89goi1.cloudfront.net/uploads/digital_asset/file/1155992/Outfit-Regular.ttf');
}

/* click funnel */
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.container {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: auto;
  overflow: visible !important;
}

.innerContent > div {
  padding: 0px !important;
}

.fullContainer .containerInner {
  width: 100% !important;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  padding: 0px !important;
}

/* custom */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Outfit-Bold', sans-serif;
}

p,
li,
a {
  font-family: 'Outfit-Regular', sans-serif;
}

body {
  margin: 0px;
}

a {
  font-size: 1rem;
}

p,
li {
  font-size: 2.2rem;
}

.title {
  font-size: 4rem !important;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.bold {
  font-weight: bold;
}

.pink {
  color: #ffbaba;
}

.gray {
  color: gray;
}

.center {
  text-align: center;
}

.mt-3 {
  margin-top: 3rem;
}

/* navbar */

.logo {
  padding: 1rem;
}

.logo > div {
  background-image: url('./static/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 2rem;
  background-position: center;
}

nav.nav {
  display: flex;
  justify-content: center;
  display: block;
  width: 2.3rem;
  height: 0.8rem;
  flex-direction: column;
}

.nav-links {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-links > a {
  display: block;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

/* accordion */
.accordion {
  background-color: #ffbaba;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  margin: 2px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  text-align: center;
}

.active,
.accordion:hover {
  /*background-color: #ccc;*/
}

.panel {
  padding: 0 10px;
  display: none;
  background-color: white;
  overflow: hidden;
}

/* hero */
section#hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 30rem;
  border-bottom-left-radius: 5rem;
  box-shadow: 0px 6px 8px 0px #e8e6e6;
  background-image: url('https://images.clickfunnels.com/35/9e69189f2e4787966caa8cb3a95f7e/bundle-banner-mobile.png');
  background-size: cover;
  color: white;
  padding-bottom: 35rem;
}

section#hero div {
  margin: 2rem;
}

section#hero div * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* content */
section#main {
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}

/* article */
.article {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.article img {
  border-radius: 1.3rem;
  box-shadow: 0px 5px 15px 0px #e8e6e6;
}

/* container */
.sidebar {
  display: flex;
  flex-wrap: wrap;
}

/* columns */
.sidebar > * {
  width: 100%;
  padding: 0rem;
}

.sidebar > *:nth-child(1) {
  padding-bottom: 0rem;
}

div#sticky-div {
  position: sticky;
  top: 2rem;
}

.right-block {
  box-shadow: 0px 5px 15px 0px #e8e6e6;
  padding: 0px 0px 30px 0px;
  transition: all 0.6s;
  background-color: #ffffff;
  border-radius: 0px 0px 60px 0px;
}

.wrapper_right-img {
  text-align: center;
  padding-bottom: 1rem;
}

.inner-right_block {
  padding-left: 27px;
  padding-right: 27px;
}

.valid_block {
  position: absolute;
  right: -8px;
  top: 57%;
  margin-top: -20px;
}

.wrapper_right-img img {
  width: 100%;
}

/* button */
.btn-blue,
.btn-blue:focus {
  font-weight: 400;
  transition: all 0.3s;
  color: #ffffff;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  width: 100%;
  font-weight: 600;
}

.btn-pink {
  font-weight: 400;
  transition: all 0.3s;
  color: #ffffff;
  background-color: #ffbaba;
  border: 1px solid #ffbaba;
  width: 100%;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 12px 12px;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 25px;
}

/* pulse red */

.pulse {
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px #dddddd;
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #f2441f;
  }
  50% {
    -webkit-box-shadow: 0px 0px 5px 5px #f2441f;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #f2441f;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0px 0px 0px 0px #f2441f;
    box-shadow: 0px 0px 0px 0px #f2441f;
  }
  50% {
    -moz-box-shadow: 0px 0px 5px 5px #f2441f;
    box-shadow: 0px 0px 5px 5px #f2441f;
  }
  100% {
    -moz-box-shadow: 0px 0px 0px 0px #f2441f;
    box-shadow: 0px 0px 0px 0px #f2441f;
  }
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .sidebar > *:nth-child(1) {
    width: calc(100% / 3 * 2);
  }

  .sidebar > *:nth-child(2) {
    width: calc(100% / 3);
  }

  section#hero {
    padding-bottom: 70rem;
  }
}

/* review */
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0rem 0rem 5rem 0rem;
}

.testimonial-heading {
  margin: 2rem 0px 2rem 0rem;
  text-align: center;
}

.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #979797;
  font-size: 0.8rem;
}

.reviews {
  display: flex;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

::selection {
  color: #ffffff;
  background-color: #252525;
}

/* footer */
#footer {
  border-bottom: 3px solid #ff0000;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 100%;
}

#footer {
  border-bottom: 3px solid #ff0000;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.top_footer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f3f3f3;
}

.bottom_footer {
  display: flex;
  justify-content: center;
}

#footer .navbar-nav {
  float: none;
}

#footer .navbar-nav > li {
  float: none;
  display: inline-block;
  margin-right: 30px;
}

#footer .navbar-nav > li:last-child {
  margin-right: 0px;
}

#footer .navbar-nav > li > a {
  background: none !important;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1rem;

  font-weight: 500;
}

#footer .navbar-nav > li > a:last-child {
  padding-right: 0px;
}

#footer .navbar-nav > li > a:hover {
  opacity: 0.8;
}

.wrapper_logo_footer {
  float: left;
}

.wrapper_nav {
  float: right;
}

.copyright {
  padding: 22px 0px 17px;

  font-size: 1rem;
  color: #212121;
}

/* container */

.custom-container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.ultra_boost {
  background-image: url('https://images.clickfunnels.com/2a/6859ca446f4ef68c006126fb4101a6/bundle_offer_v2.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 60px 0px 0px 0px;
  padding: 11.5rem;
  margin-bottom: 2rem;
}

.ultra_boost_title {
  font-size: 28px;
  line-height: 1.43;
  letter-spacing: 0.6px;
  text-align: left;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.wrapper_ofer {
  padding: 27px 50px 45px;
  background-color: #ffffff;
  border-top: 3px solid #ff0000;
  border-radius: 0px 0px 60px 0px;
  box-shadow: 0px 5px 15px 0px #e8e6e6;
  margin-bottom: 25px;
}

.key_points {
  padding-bottom: 2rem;
  border-bottom: 3px solid #ff0000;
  margin-bottom: 3rem;
}

.media {
  display: flex;
  align-items: center;
}

.media > *:nth-child(1) {
  padding-right: 1rem;
}

.offer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #212121;
}

.d-flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.align-items-center {
  -ms-align-items: center;
  align-items: center;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.big-price {
  font-size: 3rem;
  color: green;
}

.line-through {
  text-decoration: line-through;
}

.mr-1 {
  margin-right: 1rem;
}

.text_offer {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 1.52;
  letter-spacing: 0.4px;
  color: #212121;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.center_block {
  text-align: center;
  border-top: 1px solid #f5f3fb;
  border-bottom: 1px solid #f5f3fb;
  border-right: 0px;
  border-left: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_text_offer {
  font-size: 1.5rem;
  font-weight: 500;
}

#info {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0rem 2rem 0rem 2rem;
}

/* media */

/* mobile */
@media (max-width: 767px) {
  .nav > .nav-btn {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .logo {
    width: 15rem;
  }

  .nav > .nav-btn > label {
    display: block;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    margin-right: 1rem;
  }

  .sidebar > *:nth-child(2) {
    display: none;
  }

  .nav > .nav-btn > label:hover,
  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 2rem;
    height: 0.8rem;
    border-top: 2px solid black;
  }

  .nav-links {
    display: block;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 3rem;
    left: 0px;
    padding-bottom: 1rem;
  }

  #nav-check:checked ~ .nav-links {
    height: auto;
    overflow-y: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-links > a {
    display: initial;
    width: 100%;
  }

  .custom-container {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  section#main {
    padding: 3rem 3rem 3rem 3rem;
  }

  .sidebar > *:nth-child(1) {
    padding-right: 2rem;
  }
}

/* desktop */
@media (min-width: 992px) {
  .nav-links > a {
    display: initial;
    width: 100%;
  }

  .custom-container {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  section#main {
    padding: 4rem 12rem 4rem 12rem;
  }

  section#hero div {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .sidebar > *:nth-child(1) {
    padding-right: 5rem;
  }

  div#bottom-offer {
    display: block;
    margin-top: 5rem;
  }

  section#hero {
    flex-direction: row;
    padding-bottom: 60rem;
    background-image: url('https://images.clickfunnels.com/a7/fbd40452f54209be48e6094da357aa/banner_desktop.png');
  }

  section#hero > *:nth-child(1) {
    text-align: center;
  }

  .d-flex {
    flex-direction: row;
  }

  .center_block {
    border-right: 1px solid #f5f3fb;
    border-left: 1px solid #f5f3fb;
    border-top: 0px;
    border-bottom: 0px;
  }

  footer {
    .logo {
      width: 15rem;
    }
  }

  .article img {
    width: 500px;
    margin: auto;
  }
}
